{% extends 'base.html' %}

{% from 'interest/common.html' import edit_field %}

{% if request.endpoint.endswith('edit') %}
  {% set title = 'Edit Interest Details' %}
{% else %}
  {% set title = 'Add  Details of what you are in Interested in' %}
{% endif %}

{% block title %}{{ title }}{% endblock title %}

{% block main %}
<div class="row">
  <div class="appointment-edit well offset2 span8">
    <form method="post" class="form-horizontal">
      <legend>{{ title }}</legend>
	     {{ edit_field(form.looking_for_title, maxlength=255, class="span3",
                    placeholder="E.g 'Interested in ....' ") }}
	     {{ edit_field(form.looking_for, rows="5", class="span5",
                 placeholder="Describe in details what you are interest in and your skills.") }}
		{{ edit_field(form.joining_startup) }}
		{{ edit_field(form.unpaid_internships) }}
	    {{ edit_field(form.paid_internships) }}
	    {{ edit_field(form.volunteer_work) }}
	    {{ edit_field(form.thesis_work_unpaid) }}
		{{ edit_field(form.thesis_work_paid) }}
		{{ edit_field(form.research_work_unpaid) }}
		{{ edit_field(form.research_work_paid) }}
	   {{ edit_field(form.interest_location, maxlength=255, class="span3",
                    placeholder="Location  you are interested in") }}
	   {{ edit_field(form.interest_location_two, maxlength=255, class="span3",
                    placeholder="Location  you are interested in") }}
	   {{ edit_field(form.interest_location_three, maxlength=255, class="span3",
                    placeholder="Location  you are interested in") }}
		{{ edit_field(form.contact_details, rows="5", class="span5",
                    placeholder="Provide your contact details here.") }}
      <div class="form-actions">
        <button type="submit" class="btn">Save</button>
        or <a href="{{ url_for('interest_list') }}">Cancel</a>
      </div>
    </form>
  </div>
</div>
<style>
.navbar-inner {
    background-color: #4E5D6C;
    border: 1px solid #000000;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
</style>
{% endblock main %}


