{% extends "base.html" %}
{% block content %}

<div class="container" style="margin-top: 100px;">

        <div class="jumbotron hero-spacer">
            <h1>Areas of Interest from Students!</h1>
            <p>We felt it would be great to offer you insights on certain candidates so you might make better hiring decisions or find who you are looking for and contact them personally!</p>
            <!----<p><a class="btn btn-primary btn-large">Call to action!</a>---->
            </p>
			
        </div>

        <hr>

        <div class="row">
            <div class="col-lg-12">
                <h3>Interest declared by students</h3>
            </div>
        </div>
        <!-- /.row -->

        <div class="row text-center">

            <div class="col-lg-3 col-md-6 hero-feature">
                <div class="thumbnail">
                    
                    <div class="caption">
                        <h3>Feature Label</h3>
                        <p>This would be a great spot to feature some brand new products!</p>
                        <p><a href="#" class="btn btn-primary">Buy Now!</a>  <a href="#" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>

</div>
        <!-- /.row -->
<style>
body {
    background-color: #FFFFFF;

}
</style>
{% endblock %}