{% extends 'base.html' %}

{% from 'blog/common.html' import detail %}

{% block title %}Blogs{% endblock title %}

{% block main %}
<div class="row">
  {% for appt in appts %}
    <div class="span12">
      {{ detail(appt, link_title=true, show_edit=false, show_description=false) }}
    </div>
  {% else %}
    <h3 class="span12">No blogs.</h3>
  {% endfor %}
</div>
<div class="row">
  {% for Blog in blogs %}
    <div class="span12">
      <li> <h2>{{ blog.title }}</h2>{{ blog.description|safe }}</li>
    </div>
  {% else %}
    <h3 class="span12">No Blog Post.</h3>
  {% endfor %}
</div>
{% endblock main %}
