{% extends 'base.html' %}

{% from 'blog/common.html' import detail %}

{% block title %}{{ blog.title }} {% endblock title %}

{% block main %}
<div class="container">
<div class="row">
  <div class="span12">
    {{ detail(blog) }}
  </div>
</div>
</div>
<style>
.navbar-inner {
    background-color: #4E5D6C;
    border: 1px solid #000000;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
</style>
{% endblock main %}
