{% macro detail(appt, link_title=true, show_edit=true, show_description=true, link_website=true) %}
  <div class="container">
    {% if link_title %}
      <h3><a href="{{ url_for('company_detail', company_id=appt.id) }}">{{ appt.company_name or '(untitled)' }}</a></h3>
    {% else %}
      <h3>{{ appt.company_name or '(untitled)' }}</h3>
    {% endif %}
    {% if appt.company_location %}<p><i class="icon-home"></i> {{ appt.company_location }}</p>{% endif %}

	
	 {% if link_website %}
      <h3><a href="{{ appt.company_website }}" target="_blank">{{ appt.company_website }}</a></h3>
    {% else %}
      <h3>{{ appt.company_website }}</h3>
    {% endif %}
	
    {% if show_edit %}
      <div class="edit-controls">
        <i class="icon-pencil"></i>
        <a href="{{ url_for('company_edit', company_id=appt.id) }}">Edit</a>
        <span class="inline-pad"></span>
        <i class="icon-trash"></i>
        <a class="appointment-delete-link" href="#" data-delete-url="{{ url_for('company_delete', company_id=appt.id) }}">Delete</a>
      </div>
    {% endif %}
    {% if show_description and appt.company_description %}
      <div class="row">
        <p class="span5">
          {{ appt.company_description | nl2br }}
        </p>
      </div>
    {% endif %}
  </div>
{% endmacro %}

{% macro edit_field(field, catch_kwargs=true) %}
  <div class="control-group{% if field.errors %} error{% endif%}">
    {{ field.label(class="control-label") }}
    <div class="controls">
      {{ field(**kwargs) }}
      {% for error in field.errors %}<span class="help-inline">{{ error }}</span>{% endfor %}
    </div>
  </div>
{% endmacro %}
