{% extends "company/company.html" %}
{% block content %}
<meta charset="utf-8">
<div class="masthead">
<div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h1 style="font-size: 100px; font-weight: 300;">Premium</h1>
			      <div>&nbsp;</div>
             <a href="#" class="btn btn-default btn-lg">Call +358443629957</a>
          </div>
          <div style="padding: 15px 15px 0 15px;" class="col-lg-6">
		  <div class="well">
		    <p class="lead"> For great advantage and speed when recruiting, call our account managers.</p> 
		  </div>
		  </div>
        </div>
      </div>
    </div>

    <!-- Intro home page content -->
    <!----<div class="intro-marketing">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 intro-marketing-box">
                    <h2><i class="fa fa-gift"></i> Forever Free</h2>
                    <p>Our Bootstrap templates and themes are free to download and use, forever and ever.</p>
                </div>
                <div class="col-lg-4 col-md-4 intro-marketing-box">
                    <h2><i class="fa fa-github"></i> Open Source</h2>
                    <p>All Start Bootstrap templates are licensed under Apache 2.0 and <a href="https://github.com/ironsummitmedia/startbootstrap/">maintained on GitHub</a>.</p>
                </div>
                <div class="col-lg-4 col-md-4 intro-marketing-box">
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-4 col-md-4 intro-marketing-box">
                    <h2><i class="fa fa-folder-open"></i> Ready to Use</h2>
                    <p>These free Bootstrap templates and themes are ready to use. Download what you like and get started!</p>
                </div>
                <div class="col-lg-4 col-md-4 intro-marketing-box">
                    <h2><i class="fa fa-check"></i> Bootstrap 3 Updated</h2>
                    <p>All of our templates and themes are up to date and ready to use with Bootstrap 3!</p>
                </div>
            </div>
        </div>
    </div>------->
	<div class="bs-docs-featurette">
  <div class="container">
    <h2 class="bs-docs-featurette-title">Spend only less than 30 minutes. Our tool provides you with the top 1% of candidates needed for you to interview. </h2>
    <p class="lead">- Aniekan Okono (Cofounder).</p>

    <hr class="half-rule">

    <div class="row">
      <div class="col-sm-4">
        
        <h3>Entry Level Workers</h3>
        <p>Find entry level workers, search based on skills, location. Contact them directly or create a vacancy. </p>
		<p><a role="button" class="btn btn-primary btn-lg" href="/join">More</a></p>
      </div>
      <div class="col-sm-4">
        
        <h3>Undergraduate & Graduate Trainees</h3> 
        <p>Find paid and unpaid trainees, search based on skills, schools, location. Contact them directly or create a vacancy.</p>
		<p><a role="button" class="btn btn-primary btn-lg" href="/join">More</a></p>
      </div>
      <div class="col-sm-4">
        
        <h3>Research and Thesis Work</h3>
        <p>Find researchers and thesis workers. Contact them directly or create a vacancy.  </p>
		<p><a role="button" class="btn btn-primary btn-lg" href="/join">More</a></p>
      </div>
    </div>

    <hr class="half-rule">
	<div class="container">
    <div class="row">
        <h4>
        </h4>
        <div class="col-md-4">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h4 class="text-center">
                        SUBMISSIONS</h4>
                </div>
                <ul class="list-group list-group-flush text-center" style="color:#FFFFFF;">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Get submissions directly</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Embed Submission link on your website</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>24/7 support</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-danger" href="#"></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="text-center">
                        SEARCH</h4>
                </div>
                <ul class="list-group list-group-flush text-center" style="color:#FFFFFF;">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Filter by Country</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Filter by Languages and or Skills</li>
					<li class="list-group-item"><i class="icon-ok text-danger"></i>Filter by Academic Levels</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-info" href="#"></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="text-center">
                        POST</h4>
                </div>
                <ul class="list-group list-group-flush text-center" style="color:#FFFFFF;">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>20 paid & unpaid trainee vacancies</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Post online for 40 days</li>
					<li class="list-group-item"><i class="icon-ok text-danger"></i>Push notifications via inbox & email</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-success" href="#">
                        </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="text-center">
                        MESSAGING</h4>
                </div>
                <ul class="list-group list-group-flush text-center" style="color:#FFFFFF;">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Send Unlimited Mesaages</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Recieve Unlimited Messages</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>24/7 support</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-primary" href="#">
                        </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h4 class="text-center">
                        OTHER BENEFITS</h4>
                </div>
                <ul class="list-group list-group-flush text-center" style="color:#FFFFFF;">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i></li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Premium placements of vacancies on search results</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>24/7 support</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-warning" href="#">
                        </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="text-center">
                        RESUME ANALYTICS</h4>
                </div>
                <ul class="list-group list-group-flush text-center" style="color:#FFFFFF;">
                    <li class="list-group-item"><i class="icon-ok text-danger"></i> Percentage match analysis</li>
                    <li class="list-group-item"><i class="icon-ok text-danger"></i>Resume Comparisons</li>
                </ul>
                <div class="panel-footer">
                    <a class="btn btn-lg btn-block btn-default" href="#">
                        </a>
                </div>
            </div>
        </div>
    </div>
</div>

	<hr class="half-rule">

    <p class="lead">Share to the world what you've discovered .</p>
    <div class="btn-group" style="padding-left: 100px;">
  <button
    class="btn btn-default disabled">
    Share:
  </button>

  <a
    class="btn btn-default"
    target="_blank"
    title="Like On Facebook"
    href="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fintern.ly"
  >
    <i class="fa fa-thumbs-o-up fa-lg fb"></i>
  </a>

  <a
    class="btn btn-default google-plus-one"
    target="_blank"
    title="+1 On Google"
    href="https://apis.google.com/_/+1/fastbutton?usegapi=1&size=large&hl=en&url=http%3A%2F%2Fintern.ly"
  >
    <i class="fa fa-google-plus fa-2x google"></i><span class="google">1</span>
  </a>

  <a
    class="btn btn-default"
    target="_blank"
    title="On Facebook"
    href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fintern.ly&t=Url%20Encoded%20Text"
  >
    <i class="fa fa-facebook fa-lg fb"></i>
  </a>

  <a
    class="btn btn-default"
    target="_blank"
    title="On Twitter"
    href="http://twitter.com/share?url=http%3A%2F%2Fintern.ly&text=Url%20Encoded%20Text"
  >
    <i class="fa fa-twitter fa-lg tw"></i>
  </a>

  <a
    class="btn btn-default"
    target="_blank"
    title="On Google Plus"
    href="https://plusone.google.com/_/+1/confirm?hl=en&url=http%3A%2F%2Fintern.ly
  >
    <i class="fa fa-google-plus fa-lg google"></i>
  </a>

  <a
    class="btn btn-default"
    target="_blank"
    title="On LinkedIn" 
    href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fintern.ly"
  >
    <i class="fa fa-linkedin fa-lg linkin"></i>
  </a>

  <a
    class="btn btn-default"
    target="_blank"
    title="On VK.com" 
    href="http://vk.com/share.php?url=http%3A%2F%2Fintern.ly&title=Url%20Encoded%20Title&description=Url%20Encoded%20Text&image=https%3A%2F%2Ffbcdn-sphotos-g-a.akamaihd.net%2Fhphotos-ak-frc3%2Ft1%2F10007500_219483098251971_1640217409_n.jpg"
  >
    <i class="fa fa-vk fa-lg vk"></i>
  </a>

  <a
    class="btn btn-default"
    target="_blank"
    title="Pin It" 
    href="http://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fintern.ly&description=Url%20Encoded%20Text&media=https%3A%2F%2Ffbcdn-sphotos-g-a.akamaihd.net%2Fhphotos-ak-frc3%2Ft1%2F10007500_219483098251971_1640217409_n.jpg"
  >
    <i class="fa fa-pinterest fa-lg pinterest"></i>
  </a>

  <a
    class="btn btn-default"
    target="_blank"
    title="Surf!" 
    href="http://surfingbird.ru/share?url=http%3A%2F%2Fintern.ly&description=Url%20Encoded%20Text&screenshot=https%3A%2F%2Ffbcdn-sphotos-g-a.akamaihd.net%2Fhphotos-ak-frc3%2Ft1%2F10007500_219483098251971_1640217409_n.jpg&title=Url%20Encoded%20Title"
  >
    <i class="fa surfingbird fa-lg"></i>
  </a>
</div>

  </div>
 </div>
  <footer role="contentinfo" class="bs-docs-footer">
  <div class="container">
    <div class="bs-docs-social">
  <ul class="bs-docs-social-buttons">
  </ul>
</div>


    <!--<p>Designed and built with all the love in the world by <a target="_blank" href="http://twitter.com/mdo">@mdo</a> and <a target="_blank" href="http://twitter.com/fat">@fat</a>.</p>
    <p>Maintained by the <a href="https://github.com/twbs?tab=members">core team</a> with the help of <a href="https://github.com/twbs/bootstrap/graphs/contributors">our contributors</a>.</p>----->
    <p>Product By Konor Dev.co<a target="_blank" href="#"></a> Made in  Finland <a href="#">2014</a>.</p>
    <!---<ul class="bs-docs-footer-links muted">
      <li>Currently v3.1.1</li>
      <li><a href="#">GitHub</a></li>
      <li><a href="#">Examples</a></li>
      <li><a href="#">v2.3.2 docs</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Expo</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="">Issues</a></li>
      <li><a href="">Releases</a></li>
    </ul>----->
  </div>
</footer>
{% endblock %}