{% macro detail(position, link_title=false, show_edit=true, show_description=true) %}
  <div class="appointment-detail">
    {% if link_title %}
      <h3><a href="{{ url_for('position_detail', position_id=position.id) }}">{{ position.title or '(untitled)' }}</a></h3>
    {% else %}
      <h3>{{ position.trainee_position_title or '(untitled)' }}</h3>
    {% endif %}
	{% if position.location %}<p><i class="icon-home"></i> {{ position.location }}</p>{% endif %}
	{% if position.pub_date %}<p><i class="icon-home"></i> {{ position.pub_date }}</p>{% endif %}

    {% if show_edit %}
      <div class="edit-controls">
        <i class="icon-pencil"></i>
        <a href="{{ url_for('position_edit', position_id=position.id) }}">Edit</a>
        <span class="inline-pad"></span>
        <i class="icon-trash"></i>
        <a class="appointment-delete-link" href="#" data-delete-url="{{ url_for('position_delete', position_id=position.id) }}">Delete</a>
      </div>
    {% endif %}
    {% if show_description and position.description %}
      <div class="row">
        <p class="span5">
          {{ position.description | nl2br }}
        </p>
      </div>
    {% endif %}

  </div>
{% endmacro %}

{% macro edit_field(field, catch_kwargs=true) %}
  <div class="control-group{% if field.errors %} error{% endif%}">
    {{ field.label(class="control-label") }}
    <div class="controls">
      {{ field(**kwargs) }}
      {% for error in field.errors %}<span class="help-inline">{{ error }}</span>{% endfor %}
    </div>
  </div>
{% endmacro %}
