{% macro detail(appt, link_title=false, show_edit=true, show_summary=false, show_skills=true) %}

    <div class="position-detail">
      {% if show_edit %}
      <div class="edit-controls">
        <a href="{{ url_for('position_edit', position_id=appt.id) }}"><i class="fa fa-pencil"></i></a>
        <a class="resume-delete-link" href="{{ url_for('position_delete', position_id=appt.id) }}"><i class="fa fa-times"></i></a>
        <a href="{{ url_for('position_list_applicants', position_id=appt.id) }}"><i class="fa fa-user"></i> <!--<span class="applicants_applied">3</span> --></a>
      </div>
    {% endif %}

    {% if link_title %}
      <div class="position_title">
        <h3>
          <a href="{{ url_for('position_details', position_id=appt.id) }}">{{ appt.position_title or '(No Title)' }}</a>
        </h3>
      </div>
    {% else %}
      <h1 align="center">{{ appt.position_title or '(No Title)' }}</h1>
      <h3 align="center"> {{ appt.company_name }}, {{ appt.location }}</h3>
      <h4 align="center">{{ appt.company_website }}</h4>

     <hr>

     <h3 align="center"> Job Description</h3>
     <h6 align="center">{{ appt.description }}</h6>
   <hr>   
    {% endif %}

    <!-- CREATED POSITIONS VIEW -->
      <div class="date_published">
        <h4>Published:</h4>
        <span><i class="fa fa-calendar"></i> {{appt.created.strftime('%d.%m.%Y ')}}</span>
      </div>
      <div class="url">
        <h4><i class="fa fa-external-link-square"></i> Positon share URL:</h4>
        <a href="{{ url_for('position_apply_now', b62id=appt.id|b62, title=appt.position_title|slug) }}">{{ url_for('position_apply_now', b62id=appt.id|b62, title=appt.position_title|slug, _external=True) }}</a>
      </div>
      <div class="requirements">
        <h4><i class="fa fa-list"></i> Required skills:</h4>
        {% if show_skills %}
        <ul>
          {% if appt.required_skill_one %}
            <li>{{ appt.required_skill_one|default('')}}</li>
          {% else %}
          {% endif %}

          {% if appt.required_skill_two %}
            <li>{{ appt.required_skill_two|default('')}}</li>
          {% else %}
          {% endif %}

          {% if appt.required_skill_three %}
            <li>{{ appt.required_skill_three|default('')}}</li>
          {% else %}
          {% endif %}

          {% if appt.required_skill_four %}
            <li>{{ appt.required_skill_four|default('')}}</li>
          {% else %}
          {% endif %}
          
          {% if appt.required_skill_five %}
            <li>{{ appt.required_skill_five|default('')}}</li>
          {% else %}
          {% endif %}

          {% if appt.required_skill_six %}
            <li>{{ appt.required_skill_six|default('')}}</li>
          {% else %}
          {% endif %}
        </ul>
          {% else %}
          No Requirements specified
       {% endif %}
     </div>




     
     {% if show_summary and appt.summary_title %}
      <!---<div class="row">
        <p class="span5">-->
          {{ appt.summary_title | nl2br }}
        <!--</p>
      </div>-->
       {% endif %}

</div>


{% endmacro %}

{% macro render_field(field) -%}
    {% set with_label = kwargs.pop('with_label', False) %}
    {% set placeholder = '' %}
    {% if not with_label %}
        {% set placeholder = field.label.text %}
    {% endif %}
    <div class="form-group {% if field.errors %}error{% endif %}">
        {% if with_label %}
            <label for="{{ field.id }}" class="control-label">
                {{ field.label.text }}{% if field.flags.required %} *{% endif %}:
            </label>
        {% endif %}

        {% set class_ = kwargs.pop('class_', '') %}
        {% if field.flags.required %}
            {% set class_ = class_ + ' required' %}
        {% endif %}

        {% if field.type == 'BooleanField' %}
            <div class="checkbox">
                <label>
                    {{ field(class_=class_, **kwargs) }}
                    {{ field.label.text|safe }}
                </label>
            </div>

        {% else %}

            {% if field.type in ('TextField', 'TextAreaField', 'PasswordField') %}
                {% set class_ = class_ + ' input-xlarge form-control' %}

            {% elif field.type == 'FileField' %}
                {% set class_ = class_ + ' input-file form-control' %}
            {% endif %}

            {% if field.type == 'SelectField' %}
                {{ field(class_=class_, **kwargs) }}
            {% else %}

            {{ field(class_=class_, placeholder=placeholder, **kwargs) }}
            {% endif %}

        {% endif %}
        {% if field.errors %}
            <span class="error help-inline">{{ field.errors|join(', ') }}</span>
        {% endif %}
        {% if field.description %}
            <p class="help-block">{{ field.description|safe }}</p>
        {% endif %}
    </div>
{%- endmacro %}

{% macro edit_field(field, catch_kwargs=true) %}
  <div class="form-group {% if field.errors %}error{% endif %}">
    <label for="{{ field.id }}" class="control-label">
        {{ field.label.text }}{% if field.flags.required %} *{% endif %}:
    </label>

        {% set class_ = kwargs.pop('class_', '') %}
        {% if field.flags.required %}
            {% set class_ = class_ + ' required' %}
        {% endif %}

        {% if field.type == 'BooleanField' %}
            <div class="checkbox">
                <label>
                    {{ field(class_=class_, **kwargs) }}
                    {{ field.label.text|safe }}
                </label>
            </div>

        {% else %}

            {% if field.type in ('TextField', 'TextAreaField', 'PasswordField') %}
                {% set class_ = class_ + ' input-xlarge form-control' %}

            {% elif field.type == 'FileField' %}
                {% set class_ = class_ + ' input-file form-control' %}
            {% endif %}

            {% if field.type == 'SelectField' %}
                {{ field(class_=class_, **kwargs) }}
            {% else %}

            {{ field(class_=class_,  **kwargs) }}
            {% endif %}

        {% endif %}

        {% if field.errors %}
            <span class="error help-inline">{{ field.errors|join(', ') }}</span>
        {% endif %}
        {% if field.description %}
            <p class="help-block">{{ field.description|safe }}</p>
        {% endif %}

  </div>
{% endmacro %}

{% macro edit_field_old(field, catch_kwargs=true) %}
  <div class="control-group{% if field.errors %} error{% endif%}">
    {{ field.label(class="control-label") }}
    <div class="controls">
      {{ field(**kwargs) }}
      {% for error in field.errors %}<span class="help-inline">{{ error }}</span>{% endfor %}
    </div>
  </div>
{% endmacro %}
