

{% macro detail(appt, link_title=false, show_edit=true, show_summary=false, show_skills=true) %}
  <div class="position-detail">
      {% if show_edit %}
      <div class="edit-controls"  align="right">
        <i class="icon-pencil"></i>
        <a href="{{ url_for('position_edit', position_id=appt.id) }}">Edit</a>
        <span class="inline-pad"></span>
        <i class="icon-trash"></i>
        <a class="position-delete-link" href="#" data-delete-url="{{ url_for('position_delete', position_id=appt.id) }}">Delete</a>
      </div>
    {% endif %}
    {% if link_title %} 
      <h3><a href="{{ url_for('position_details', position_id=appt.id) }}">{{ appt.position_title or '(No Name)' }}</a></h3> 
	  <hr>
    {% else %}
      <h1>{{ appt.position_title or '(No Name)' }}</h1>
	    <h6>{{ appt.location }}, {{ appt.url }}</h6>
	   <hr>

	   <h2> Job Description</h2>
	      <p>{{ appt.description }}</p>
		  
	 <hr>	  
    {% endif %}
		<h3> Requirements</h3>
		<hr>
		 <h3>{% if show_skills %}
		  <h3> {{ appt.required_skill_one}}</h3>
		  <h3>{{ appt.required_skill_two}}</h3>
		  <h3>{{ appt.required_skill_three}}</h3>
		  <h3>{{ appt.required_skill_four}}</h3>
		  <h3>{{ appt.required_skill_five}}</h3>
		  <h3>{{ appt.required_skill_six}}</h3>
		  <h3> {{ appt.required_skill_seven}}</h3>
		  <h3> {{ appt.required_skill_eight}}</h3>
		  <h3>{{ appt.required_skill_nine}}</h3>
		 		 {% else %}
				No Requirements specified
		 {% endif %}
		 <br>	 
		<hr>


		 
	   {% if show_summary and appt.summary_title %}
      <!---<div class="row">
        <p class="span5">----->
          {{ appt.summary_title | nl2br }}
        <!------</p>
      </div>--------->
       {% endif %}
		 
    {% if show_edit %}
      <div class="edit-controls"  align="right">
        <i class="icon-pencil"></i>
        <a href="{{ url_for('position_edit', position_id=appt.id) }}">Edit</a>
        <span class="inline-pad"></span>
        <i class="icon-trash"></i>
        <a class="position-delete-link" href="#" data-delete-url="{{ url_for('position_delete', position_id=appt.id) }}">Delete</a>
      </div>
    {% endif %}
  </div>
{% endmacro %}

{% macro edit_field(field, catch_kwargs=true) %}
  <div class="control-group{% if field.errors %} error{% endif%}">
    {{ field.label(class="control-label") }}
    <div class="controls">
      {{ field(**kwargs) }}
      {% for error in field.errors %}<span class="help-inline">{{ error }}</span>{% endfor %}
    </div>
  </div>
{% endmacro %}
