{% extends 'public/public.html' %}

{% from 'position/commons.html' import detail %}

{% block title %}{{ appt.name or '(No Name)' }}{% endblock title %}

{% block main %}
<div class="row" style="margin-top: 100px;">  
  <div class="container">
    {{ detail(appt) }}

  </div>
</div>


<div class="row edit-controls"  align="center">
        {% if anonym %}
            <h3>In order to apply just <a href="{{ url_for_security('register') }}">sign up</a> to the site!</h3>
        {% else %}
            {% if not have_resume and not anonym %}
            <h3>You have not created a resume yet. Create a resume in order to apply with it</h3>
            {% else %}
            <a href="{{ url_for('position_apply', position_id=appt.id) }}"><button type="button" class="btn btn-primary btn-lg"><i class="fa fa-hand-o-right fa-lg"></i> Apply for this position</button></a>
            {% endif %}
        {% endif %}
<br>
<br>
</div>

<div style="padding-left: 35%;" class="row btn-group">
  <button class="btn btn-default disabled" >
    Share:
  </button>

  <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fintern.ly&amp;t=Url%20Encoded%20Text" title="On Facebook" target="_blank" class="btn btn-default">
    <i class="fa fa-facebook fa-lg fb"></i>
  </a>

  <a href="http://twitter.com/share?url=http%3A%2F%2Fintern.ly&amp;text=Url%20Encoded%20Text" title="On Twitter" target="_blank" class="btn btn-default">
    <i class="fa fa-twitter fa-lg tw"></i>
  </a>

  <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A%2F%2Fintern.ly" title="On LinkedIn" target="_blank" class="btn btn-default">
    <i class="fa fa-linkedin fa-lg linkin"></i>
  </a>

  <a href="http://vk.com/share.php?url=http%3A%2F%2Fintern.ly&amp;title=Url%20Encoded%20Title&amp;description=Url%20Encoded%20Text&amp;image=https%3A%2F%2Ffbcdn-sphotos-g-a.akamaihd.net%2Fhphotos-ak-frc3%2Ft1%2F10007500_219483098251971_1640217409_n.jpg" title="On VK.com" target="_blank" class="btn btn-default">
    <i class="fa fa-vk fa-lg vk"></i>
  </a>

  <a href="http://www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fintern.ly&amp;description=Url%20Encoded%20Text&amp;media=https%3A%2F%2Ffbcdn-sphotos-g-a.akamaihd.net%2Fhphotos-ak-frc3%2Ft1%2F10007500_219483098251971_1640217409_n.jpg" title="Pin It" target="_blank" class="btn btn-default">
    <i class="fa fa-pinterest fa-lg pinterest"></i>
  </a>

 </div>



<style>
body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.42857;
}
</style>

{% endblock main %}
