{% extends 'layout.html' %}

{% from 'blog/common.html' import edit_field %}

{% if request.endpoint.endswith('edit') %}
  {% set title = 'Edit Openings' %}
{% else %}
  {% set title = 'Add Openings' %}
{% endif %}

{% block title %}{{ trainee_position_title }}{% endblock title %}

{% block main %}

  <div class=" well offset2 span8">
    <form method="post" class="form-horizontal">
      <span>{{ trainee_position_title }}</span>
      {{ edit_field(form.trainee_position_title, maxlength=255, class="span3",
                    placeholder=" Title of trainee position") }}
      {{ edit_field(form.company_name, rows="5", class="span5",
                    placeholder="Your company's name.") }}
	  {{ edit_field(form.company_website, maxlength=255, class="span3",
                    placeholder="Insert URL link") }}
	 {{ edit_field(form.location, maxlength=255, class="span3",
                    placeholder="Where are you located? or where is the job taking place?") }}
	  {{ edit_field(form.description, rows="5", class="span5",
                    placeholder="Provide descriptions and other information of this position.") }}
	  {{ edit_field(form.required_skill_one, maxlength=255, class="span3",
                    placeholder="Name one skill needed") }}
	   {{ edit_field(form.required_skill_two, maxlength=255, class="span3",
                    placeholder="Name one skill needed") }}
	   {{ edit_field(form.required_skill_three, maxlength=255, class="span3",
                    placeholder="Name one skill needed") }}
	  {{ edit_field(form.required_skill_four, maxlength=255, class="span3",
                    placeholder="Name one skill needed") }}
	   {{ edit_field(form.required_skill_five, maxlength=255, class="span3",
                    placeholder="Name one skill needed") }}
	{{ edit_field(form.pub_date, class="span3", type="datetime",
                    placeholder="yyyy-mm-dd hh:mm:ss") }}
      <div class="form-actions">
        <button type="submit" class="btn">Save</button>
        or <a href="{{ url_for('position_list') }}">Cancel</a>
      </div>
    </form>
  </div>

{% endblock main %}
