{% extends 'base.html' %}

{% from 'blog/common.html' import edit_field %}

{% if request.endpoint.endswith('edit') %}
  {% set title = 'Edit Deals' %}
{% else %}
  {% set title = 'Add Deals' %}
{% endif %}

{% block title %}{{ title }}{% endblock title %}

{% block main %}
<div class="row">
  <div class="appointment-edit well offset2 span8">
    <form method="post" class="form-horizontal">
      <legend>{{ title }}</legend>
      {{ edit_field(form.title, maxlength=255, class="span3",
                    placeholder="Important Meeting") }}
      {{ edit_field(form.elevator, rows="5", class="span5",
                    placeholder="Your elevator Pitch.") }}
	  {{ edit_field(form.description, rows="5", class="span5",
                    placeholder="Provide descriptions and other information.") }}
	 {{ edit_field(form.links, maxlength=255, class="span3",
                    placeholder="Insert URL link") }}
	{{ edit_field(form.pub_date, class="span3", type="datetime",
                    placeholder="yyyy-mm-dd hh:mm:ss") }}
      <div class="form-actions">
        <button type="submit" class="btn">Save</button>
        or <a href="{{ url_for('deal_list') }}">Cancel</a>
      </div>
    </form>
  </div>
</div>
{% endblock main %}
