{% extends "error/base.html" %}
{% block content %}

    </head>
    
    <!-- HTML code from Bootply.com editor -->
    
    <body  >
        
        





 <footer role="contentinfo" class="bs-docs-footer">
  <div class="container">
    <div class="bs-docs-social">
  <ul class="bs-docs-social-buttons">
  </ul>
</div>


    <!--<p>Designed and built with all the love in the world by <a target="_blank" href="http://twitter.com/mdo">@mdo</a> and <a target="_blank" href="http://twitter.com/fat">@fat</a>.</p>
    <p>Maintained by the <a href="https://github.com/twbs?tab=members">core team</a> with the help of <a href="https://github.com/twbs/bootstrap/graphs/contributors">our contributors</a>.</p>----->
    <p>Product of Konor Dev.co<a target="_blank" href="#"></a> Made in  Finland <a href="#">2014</a>.</p>
    <!---<ul class="bs-docs-footer-links muted">
      <li>Currently v3.1.1</li>
      <li><a href="#">GitHub</a></li>
      <li><a href="#">Examples</a></li>
      <li><a href="#">v2.3.2 docs</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Expo</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="">Issues</a></li>
      <li><a href="">Releases</a></li>
    </ul>----->
  </div>
</footer>

<ul class="nav pull-right scroll-down">
  <li><a href="#" title="Scroll down"><i class="icon-chevron-down icon-3x"></i></a></li>
</ul>
<ul class="nav pull-right scroll-top">
  <li><a href="#" title="Scroll to top"><i class="icon-chevron-up icon-3x"></i></a></li>
</ul>

        
        <!-- JavaScript jQuery code from Bootply.com editor -->
        
        <script type='text/javascript'>
        
        $(document).ready(function() {
        
            /* smooth scrolling for scroll to top */
$('.scroll-top').click(function(){
  $('body,html').animate({scrollTop:0},1000);
})
/* smooth scrolling for scroll down */
$('.scroll-down').click(function(){
  $('body,html').animate({scrollTop:$(window).scrollTop()+800},1000);
})

/* highlight the top nav as scrolling occurs */
$('body').scrollspy({ target: '#navbar' })

        
        });
        
        </script>
        
 
{% endblock %}