{% macro detail(appt, link_title=false, show_edit=true, show_summary=true, views=0) %}
  <div class="resume-detail">
    {% if show_edit %}
    <div class="edit-controls"  align="right">
        <a href="{{ url_for('resume_edit', resume_id=appt.id) }}"><button type="button" class="btn btn-primary"><i class="fa fa-pencil fa-lg"></i> Edit</button></a>
        <span class="inline-pad"></span>
        <a class="resume-delete-link" href="{{ url_for('resume_delete', resume_id=appt.id) }}"><button type="button" class="btn btn-primary"><i class="fa fa-trash-o fa-lg"></i> Delete</button></a>
        <a href="{{ url_for('resume_detail_pdf', resume_id=appt.id) }}"><button type="button" class="btn btn-primary"><i class="fa fa-file-pdf-o fa-lg"></i> Download as PDF</button></a>
    </div>
    {% endif %}

    {% if link_title %} 
      <h3><a href="{{ url_for('resume_detail', resume_id=appt.id) }}">{{ appt.name or '(No Name)' }}</a></h3> {% if views>0 %} <h5>Views: {{views}} </h5> {% endif %}
    {% else %}
      <h1 align="center">{{ appt.name or '(No Name)' }}</h1>
	        <h5>{{ appt.email }}, {{ appt.phone }},{{ appt.city }},{{ appt.zip }},{{ appt.country }}, {{ appt.url }}</h5>
	      
			
	   <hr>
	      <h1 align="center">{{ appt.summary_title }}</h1>
	      <h5>{{ appt.summary_text if appt.summary_text != None }} </h5>
	   <hr>
	   <h1 align="center"> Experience</h1>
	      <h3>{{ appt.company_name if appt.company_name != None }}, {{ appt.location if appt.location != None  }} , {{ appt.start}}-{{ appt.end or (currently)}} </h3>
	      <h5>{{ appt.company_summary if appt.company_summary != None  }}</h5>
	      <h3>{{ appt.role if appt.role != None }}</h3>
	      <h5>{{ appt.role_description|markdown if appt.role_description != None  }}</h5>

 <h3>{{ appt.company_name_two  if appt.company_name_two != None  }} {{ appt.location_two  if appt.location_two != None  }} , {{ appt.start_date}}-{{ appt.end_date }} {% if appt.currently %}<p> Present</p> {% endif %} </h3>
		  
           
        
		
     <h6>{{ appt.company_summary_two  if appt.company_summary_two != None  }}</h6>
	    <h3>{{ appt.role_two  if appt.role_two != None  }}</h3>
	      <h5>{{ appt.role_description_two|markdown  if appt.role_description_two != None }}</h5>
		   <hr>
	     <h1 align="center"> Education</h1>
		 <h3>{{ appt.school_name_one  if appt.school_name_one != None }}</h3>
		 <h5>{{ appt.degree_description if appt.degree_description != None }}</h5>
		 <h5>{{ appt.grading if appt.grading != None }}</h5>
		 <h5>{{ appt.start_date_school|datefromstring}}</h5>
		 To {{ appt.end_date_graduation|datefromstring if not appt.currently_three else '(now)' }}

		 <h5>{{ appt.location_school if appt.location_school != None }}</h5>
		 <h5>{{ appt.city_school if appt.city_school != None }}</h5>
		 <h5>{{ appt.country_school if appt.country_school != None }}</h5>

		 <br>
		 <h3>{{ appt.school_name_two if appt.school_name_two != None }}</h3>
		 <h5>{{ appt.degree_description_two if appt.degree_description_two != None }}</h5>
		 <h5>{{ appt.grading_two if appt.grading_two != None }}</h5>
		 <h5> {{ appt.start_date_one|datefromstring}}</h5>
		 <h5> {{ appt.end_date_two|datefromstring if not appt.currently_four  else '(now)' }}</h5>
		 <h5>{{ appt.location_school_two if appt.location_school_two != None }}</h5>
		 <h5>{{ appt.location_school_two if appt.location_school_two != None }}</h5>
		 <h5>{{ appt.country_school_two if appt.country_school_two != None }}</h5>
		<hr>
	     <h1 align="center"> Skills & Courses</h1>
		 <h5>{{ appt.skills_one if appt.skills_one != None }}</h5>
		 <h5>{{ appt.skills_two if appt.skills_two != None}}</h5>
		 <h5>{{ appt.skills_three if appt.skills_three != None}}</h5>
		 <h5>{{ appt.skills_four if appt.skills_four != None}}</h5>
		 <h5>{{ appt.skills_five if appt.skills_five != None}}</h5>
		 <h5>{{ appt.skills_six if appt.skills_six != None}}</h5>
		 <h5>{{ appt.skills_seven if appt.skills_eight != None}}</h5>
		 <h5>{{ appt.skills_eight if appt.country_school_two != None}}</h5>
		 <h5>{{ appt.skills_nine if appt.skills_nine != None}}</h5>
		 <h5>{{ appt.skills_ten if appt.skills_ten != None}}</h5>
		 

	  
    {% endif %}
	
   {% if show_summary and appt.summary_title %}

          {{ appt.summary_title | nl2br }}

    {% endif %}

		 

    {% if show_edit %}
      <div class="edit-controls"  align="right">
        <i class="icon-pencil"></i>
        <a href="{{ url_for('resume_edit', resume_id=appt.id) }}">Edit</a>
        <span class="inline-pad"></span>
        <i class="icon-trash"></i>
        <a class="resume-delete-link" href="#" data-delete-url="{{ url_for('resume_delete', resume_id=appt.id) }}">Delete</a>
      </div>
    {% endif %}
  </div>
{% endmacro %}

{% macro render_field(field) -%}
    {% set with_label = kwargs.pop('with_label', False) %}
    {% set placeholder = '' %}
    {% if not with_label %}
        {% set placeholder = field.label.text %}
    {% endif %}
    <div class="form-group {% if field.errors %}error{% endif %}">
        {% if with_label %}
            <label for="{{ field.id }}" class="control-label">
                {{ field.label.text }}{% if field.flags.required %} *{% endif %}:
            </label>
        {% endif %}

        {% set class_ = kwargs.pop('class_', '') %}
        {% if field.flags.required %}
            {% set class_ = class_ + ' required' %}
        {% endif %}

        {% if field.type == 'BooleanField' %}
            <div class="checkbox">
                <label>
                    {{ field(class_=class_, **kwargs) }}
                    {{ field.label.text|safe }}
                </label>
            </div>

        {% else %}

            {% if field.type in ('TextField', 'TextAreaField', 'PasswordField') %}
                {% set class_ = class_ + ' input-xlarge form-control' %}

            {% elif field.type == 'FileField' %}
                {% set class_ = class_ + ' input-file form-control' %}
            {% endif %}

            {% if field.type == 'SelectField' %}
                {{ field(class_=class_, **kwargs) }}
            {% else %}

            {{ field(class_=class_, placeholder=placeholder, **kwargs) }}
            {% endif %}

        {% endif %}
        {% if field.errors %}
            <span class="error help-inline">{{ field.errors|join(', ') }}</span>
        {% endif %}
        {% if field.description %}
            <p class="help-block">{{ field.description|safe }}</p>
        {% endif %}
    </div>
{%- endmacro %}

{% macro edit_field(field, catch_kwargs=true) %}
  <div class="form-group {% if field.errors %}error{% endif %}">
    <label for="{{ field.id }}" class="control-label">
        {{ field.label.text }}{% if field.flags.required %} *{% endif %}:
    </label>

        {% set class_ = kwargs.pop('class_', '') %}
        {% if field.flags.required %}
            {% set class_ = class_ + ' required' %}
        {% endif %}

        {% if field.type == 'BooleanField' %}
            <div class="checkbox">
                <label>
                    {{ field(class_=class_, **kwargs) }}
                    {{ field.label.text|safe }}
                </label>
            </div>

        {% else %}

            {% if field.type in ('TextField', 'TextAreaField', 'PasswordField') %}
                {% set class_ = class_ + ' input-xlarge form-control' %}

            {% elif field.type == 'FileField' %}
                {% set class_ = class_ + ' input-file form-control' %}
            {% endif %}

            {% if field.type == 'SelectField' %}
                {{ field(class_=class_, **kwargs) }}
            {% else %}

            {{ field(class_=class_,  **kwargs) }}
            {% endif %}

        {% endif %}

        {% if field.errors %}
            <span class="error help-inline">{{ field.errors|join(', ') }}</span>
        {% endif %}
        {% if field.description %}
            <p class="help-block">{{ field.description|safe }}</p>
        {% endif %}

  </div>
{% endmacro %}


{% macro edit_field_old(field, catch_kwargs=true) %}
  <div class="form-group control-group{% if field.errors %} error{% endif%}">
    {{ field.label(class="control-label") }}
    <div class="controls">
      {{ field(**kwargs) }}
      {% for error in field.errors %}<span class="help-inline">{{ error }}</span>{% endfor %}
    </div>
  </div>
{% endmacro %}
